.about-section {
    /* height: 30rem; */
    background: linear-gradient(to bottom right, #3370ff, #004cff);
    /* padding: 20rem 16rem; */
    padding: 20rem 16rem 10rem 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__header {
    color: white;
    font-size: 5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.about-section p {
    color: #cbe6ff;
    font-size: 3rem;
}

.about__button {
    background: white;
    padding: 1rem 2rem;
    color: #342e2d;
    border-radius: 100px;
    font-size: 3rem;
    font-weight: 600;
    right: 40px;
    margin-top: 3rem;
    box-shadow: 0 1px 10px #0000004d;
}