html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* font-family: Helvetica, Arial, sans-serif; */
    font-size: 1.6rem;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

button[disabled] {
    cursor: not-allowed;
}

/* * {
    -webkit-overflow-scrolling: touch;
}  */