.header {
    position: fixed;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 2rem 0;
}

.header__padding {
    flex-basis: 4rem;
}

.logo {
    font-size: 4rem;
}

.header__logo {
    color: white;
    font-size: 3rem;
    margin-right: 10rem;
    display: flex;
    align-items: end;
    margin-bottom: 1rem;
    text-shadow: 0 1px 10px #0000004d;
}

.header__link {
    color: white;
    font-size: 2rem;
    margin-left: 4rem;
}

.header__button {
    background: white;
    padding: 1rem 2rem;
    color: #342e2d;
    border-radius: 100px;
    font-size: 2rem;
    position: absolute;
    right: 40px;
    box-shadow: 0 1px 10px #0000004d;
}