.header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    z-index: 2;
    transition: background 300ms ease-in-out;
    background: transparent;
}

.header__padding {
    flex-basis: 4rem;
}

.logo {
    font-size: 4rem;
    user-select: none;
}

.header__logo {
    user-select: none;
    color: white;
    font-size: 3rem;
    margin-right: 10rem;
    display: flex;
    align-items: end;
    margin-bottom: 1rem;
    text-shadow: 0 1px 10px #0000004d;
}

.header__link {
    color: #fff7f7;
    font-size: 2rem;
    margin-left: 4rem;
    text-shadow: 0 1px 10px #0000004d;

}

.header__button {
    background: white;
    padding: 1rem 2rem;
    color: #342e2d;
    border-radius: 100px;
    font-size: 2rem;
    position: absolute;
    right: 40px;
    box-shadow: 0 1px 10px #0000004d;
}

.header--scrolled {
    background: white;
    box-shadow: 0 4px 20px #2c3e5054;    
    opacity: 100;
}

.header--scrolled > .header__logo {
    color: #004cffb9;
    text-shadow: none;
}

.header--scrolled > .header__link {
    color: #342e2d;
    text-shadow: none;
}