a {
    text-decoration: none;
}

.projects-section {
    padding: 0 16rem;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-section__header {
    color: #2c3e50;
    font-size: 4rem;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.divider {
    width: 60rem;
    height: 2px;
    background: #004cff70;
    margin-top: 2rem;
}

.project-container {
    z-index: 2;
    text-decoration: none;
    position: relative;
    height: 500px;
    width: 900px;
    margin-top: 6rem;
    margin-bottom: 3rem;
    box-shadow: 0 4px 20px #2c3e5054;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    color: #2c3e50;
    transition: box-shadow 300ms ease-in-out;
}

.project-container:hover .project-overlay {
    transform: translate(0, -100%);
}

.project-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 900px;
    border-radius: 5px;
}

.project-overlay {
    position: absolute;
    left: 0;
    background: white;
    height: 10rem;
    padding: 2rem;
    width: 860px;
    border-radius: 0 0 5px 5px;
    bottom: -15rem;
    transition: opacity 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    box-shadow: 0 4px 20px #2c3e5054;
    font-size: 3rem;
    cursor: default;
}

.project-overlay > p {
    font-size: 2rem;
    color: #2c3e5054
}

.project-overlay  i {
    color: #2c3e50;
    cursor: pointer;
}