a {
    text-decoration: none;
}

.projects-section {
    padding: 0 16rem;
    /* margin-top: 8rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-section__header {
    color: #2c3e50;
    font-size: 4rem;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.divider {
    width: 60rem;
    height: 2px;
    background: #004cff70;
    margin-top: 2rem;
}

.project-container {
    z-index: 2;
    text-decoration: none;
    position: relative;
    height: 500px;
    width: 900px;
    margin-top: 6rem;
    margin-bottom: 3rem;
    box-shadow: 0 4px 20px #2c3e5054;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    color: #2c3e50;
    transition: box-shadow 300ms ease-in-out;
}

.project-container:hover .project-overlay {
    transform: translate(0, -20rem);
}

.project-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 900px;
    border-radius: 5px;
}

.project-overlay {
    position: absolute;
    left: 0;
    background: white;
    height: 12rem;
    padding: 2rem;
    width: 860px;
    border-radius: 0 0 5px 5px;
    bottom: -20rem;
    transition: opacity 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    box-shadow: 0 4px 20px #2c3e5054;
    font-size: 3rem;
    cursor: default;
}

.project-overlay > p {
    font-size: 2rem;
    color: #2c3e5054
}

.project-overlay  i {
    color: #2c3e50;
    cursor: pointer;
}

@media (max-width: 850px) {
    .projects-section {
        padding: 0 2rem;
    }
}

@media (max-width: 940px) {
    .project-img, .project-container {
        width: 650px;
        height: 400px;
    }
    .project-overlay {
        width: 610px;
    }
}

@media (max-width: 670px) {
    .project-img, .project-container {
        width: 350px;
        height: 200px;
    }
    .project-overlay {
        padding: 1rem 2rem 2rem 2rem;
        width: 310px;
        height: 25px;
        transform: translate(0, -20rem);
    }
    .project-container {
        margin-bottom: 1rem;
        margin-top: 2.5rem;
    }
}