.skills-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -8rem 16rem 6rem 16rem;
    padding: 5rem 4rem;
    box-shadow: 0 4px 20px rgba(44,62,80,0.329);
    border-radius: 10px;
    background-color: white;
}

.skill-icon {
    width: 90px;
    height: 90px;
}

.skill-container > div {
    /* color: #2c3e50; */
    color: #2c3e50bd;
    text-align: center;
    margin-top: 2rem;
}

@keyframes float {
    0% {
        margin-top: 6rem;
    }
    50% {
        margin-top: 4.5rem;
    }
    100% {
        margin-top: 6rem;
    }
}

@media (max-width: 850px) {
    .skill-icon {
        width: 80px;
        height: 80px;
    }
    .skills-section {
        margin-left: 8rem;
        margin-right: 8rem;
        padding: 1rem 0;
    }
}

@media (max-width: 500px) {
    .skill-icon {
        width: 60px;
        height: 60px;
    }
    .skills-section {
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 3rem 2rem;

        box-shadow: none;
        margin-top: 6rem;
    }
}

@media (max-width: 1400px) {
    .skills-section {
        justify-content: center;
    }
    .skill-container {
        margin: 2rem;
    }
}
