.skills-section {
    padding: 0 16rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.skill-container {
    /* margin: 1rem; */
}

.skill-icon {
    width: 100px;
    height: 100px;
}

.skill-container > div {
    /* color: #2c3e50; */
    color: #2c3e50bd;
    text-align: center;
    margin-top: 2rem;
}

@keyframes float {
    0% {
        margin-top: 6rem;
    }
    50% {
        margin-top: 4.5rem;
    }
    100% {
        margin-top: 6rem;
    }
}

@media (max-width: 850px) {
    .skills-section {
        padding: 0 2rem;
    }
}

@media (max-width: 1400px) {
    .skills-section {
        justify-content: center;
    }
    .skill-container {
        margin: 2rem;
    }  
}