.skills-section {
    padding: 0 16rem;
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    /* animation: float 5s ease-in-out infinite; */
    margin-bottom: 6rem;
}

.skill-icon {
    width: 100px;
    height: 100px;
}

.skill-container > div {
    /* color: #2c3e50; */
    color: #2c3e50bd;
    text-align: center;
    margin-top: 2rem;
}

@keyframes float {
    0% {
        margin-top: 6rem;
    }
    50% {
        margin-top: 4.5rem;
    }
    100% {
        margin-top: 6rem;
    }
}